.btn-info {
  border-radius: 25px;
  background-color: #00a7a8;
  border: none;
  margin: 3px;
}

div#main-content {
  display: none;
}

.logo {
  margin: 10px;
  height: auto;
  width: 180px;
}

.sectionTitle {
  height: 100vh;
  background-image: url(../img/frontbackground.jpg);
  background-attachment: fixed;
  background-position: middle;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectiontext {
  display: inline-block;
}

img.s2img {
  width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .col-sm-2 {
    width: 16.66666667%;
  }
}

.itsme {
  background-color: #ecf0f1;
  border-left: 5px #00a7a8 solid;
  border-right: 5px #00a7a8 solid;
  min-width: 320;
  max-width: 400;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dissoExplanation {
  background-color: #ecf0f1;
  border-left: 5px #00a7a8 solid;
  border-right: 5px #00a7a8 solid;
  min-width: 320;
  max-width: 400;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.itsmecontent {
  color: #383838;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dissoContent {
  color: #383838;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sectionImEuan {
  min-height: auto;
  background-image: url(../img/test.png);
  background-attachment: fixed;
  background-position: middle;
  background-repeat: no-repeat;
}

.sectionDisso {
  min-height: auto;
  background-image: url(../img/dissoBackground.png);
  background-repeat: no-repeat;
  background-position: middle;
  background-size: cover;
}

dt {
  font-weight: lighter;
  margin-top: 17px;
}

dd {
  font-weight: lighter;
  color: #a4a4a5;
}

.panels {
  padding-top: 20px;
  padding-bottom: 20px;
}

.sectionReferences {
  padding-top: 20px;
}

.section8 {
  padding-top: 20px;
}

#logo {
  width: 100%;
  display: block;
  margin: auto;
}

#title {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: Arvo, serif;
  font-size: 50px;
  margin: 0;
}

.panel-default {
  border-color: #d0cace;
}

#title h1 {
  text-align: center;
  font-family: Arvo, serif;
  font-size: 60px;
}

div#codetext.codetext {
  background-color: #383838;
  border-left: 5px #b76d6c solid;
  border-right: 5px #b76d6c solid;
  width: 300;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
  color: #f0f0f0;
  font-family: Monaco;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: lighter;
}

.subbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  text-align: center;
  font-family: Arvo, serif;
  font-size: 60px;
}

#main {
  margin-left: 5%;
  margin-right: 5%;
}

p {
  font-family: Arvo, serif;
  font-size: 14px;
  text-align: left;
}

h4 {
  font-family: Monaco, serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

button[type=register],button[type=submit] {
  background-color: inherit;
  color: #a4a4a5;
  border-style: none;
  font-size: 15px;
}

button[type=button] {
  background-color: inherit;
  color: #a4a4a5;
  border-style: none;
  font-size: 15px;
  font-family: Arvo, serif;
}

.btn#addme {
  background-color: #383838;
  border-left: 5px #b76d6c solid;
  border-right: 5px #b76d6c solid;
  color: #f0f0f0;
  font-family: Monaco;
  border-radius: 0;
  font-size: 12px;
}

footer {
  width: 100%;
  background-color: #00a7a8;
  padding: 5%;
  color: #fff;
}

.fab {
  padding: 25px;
  font-size: 40px;
  color: #fff;
}

.fab:hover {
  color: #d5d5d5;
  text-decoration: none;
}

.section5 {
  min-height: 40vh;
  background-image: url(../img/frontbackground.jpg);
  background-attachment: fixed;
  background-position: middle;
  background-repeat: no-repeat;
}

.section6 {
  min-height: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

body {
  margin: 0;
  padding: 0;
}

.panel {
  background-color: #383838;
  border-left: 5px #b76d6c solid;
  border-right: 5px #b76d6c solid;
  color: #f0f0f0;
  font-family: Monaco;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: lighter;
}

.panel-default>.panel-heading {
  color: #f0f0f0;
  background-color: #383838;
  border-color: #ddd;
}

@media (min-width: 768px) {
  .col-sm-8 {
    width: auto;
  }
}

h1#references {
  display: inline-block;
}

.refHead {
  text-align: center;
}

.btn span:nth-of-type(1) {
  display: none;
}

.btn span:last-child {
  display: block;
}

body {
  background-color: #ecf0f1;
}

.content-title {
  padding: 5px;
  background-color: #fff;
}

.content-title h3 a {
  color: #34495e;
  text-decoration: none;
  transition: .5s;
}

.content-title h3 a:hover {
  color: #f39c12;
}

.content-footer {
  background-color: #16a085;
  padding: 10px;
  position: relative;
}

.content-footer span a {
  color: #fff;
  display: inline-block;
  padding: 6px 5px;
  text-decoration: none;
  transition: .5s;
}

.content-footer span a:hover {
  color: #f39c12;
}

aside {
  margin-top: 30px;
  -webkit-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
  -moz-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
  box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
}

aside .content-footer>img {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  margin-right: 10px;
  border: 2px solid #fff;
}

body {
  background-color: #ecf0f1;
}

.content-title {
  padding: 5px;
  background-color: #fff;
}

.content-title h3 a {
  color: #34495e;
  text-decoration: none;
  transition: .5s;
}

.content-title h3 a:hover {
  color: #f39c12;
}

.content-footer {
  background-color: #00a7a8;
  padding: 10px;
  position: relative;
}

.content-footer span a {
  color: #fff;
  display: inline-block;
  padding: 6px 5px;
  text-decoration: none;
  transition: .5s;
}

.content-footer span a:hover {
  color: #f39c12;
}

aside {
  margin-top: 30px;
  -webkit-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
  -moz-box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
  box-shadow: 1px 4px 16px 3px rgba(199, 197, 199, 1);
}

aside .content-footer>img {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  margin-right: 10px;
  border: 2px solid #fff;
}

@media (max-width: 768px) {
  .content {
    padding-left: 10px;
  }

}

.thumbtext {
  padding: 15px;
}

aside {
  background-color: #d2c9ce;
  border-left: 5px #00a7a8 solid;
  border-right: 5px #00a7a8 solid;
  color: #333;
  font-family: Monaco;
}
